---
import PageLayout from "@/layouts/Base";
import { Image } from "@astrojs/image/components";
import LogoImg from "../assets/Logo.png";

const meta = {
	title: "Error 404 Page",
	description: "Error 404 Page!",
};
---

<PageLayout meta={meta}>
	<h1 class="mb-6 title">404 | Oops Pagina non Trovata</h1>
	<p class="mb-8">Perfavore prova un'altra Pagina</p>
	<div class="grid justify-center my-4">
		<Image src={LogoImg} alt="Logo Michael Logo" />
	</div>
</PageLayout>
